*{
  margin: 0;
  padding: 0;
}

.App{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(30, 7, 161, 0.883);
}
.info{
  display: flex;
  align-items: center;
}
.info img{
  height: 50px;
  border-radius: 50%;
  width: 40%;
}
.info h1{
  margin-top: 20px;
  font-size: 18px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.items{
  display: flex;
} 
.items li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 30px;
  list-style: none;  
}
.hamburger{
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: space-around;
  z-index: 10;
  flex-flow: column nowrap;
}
.hamburger{
  display: none;
}

@media(max-width: 750px){
  .hamburger{
    display: flex;
    margin-left: 10px;
    z-index: 10;
  }
  .each-ham{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    background-color: white;
  }
  .items{
    display: none;    
  }
  .active .items { 
    height: 22vh;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    background-color: white ;
    border-bottom: 1px solid blue;
    top: 0;
    bottom: 0;
    margin-top: 50px;

  }
  .active .items li{
    margin-top: 15px;
  }
  .active .items li a{
    color: blue;  
  }
  .active .items li a:hover{
    background-color: rgb(54, 54, 228, 0.75);
    color: white;
    cursor: pointer;
    background-color: blue;
  }

  /*transition*/
  .active .ham1{
    transform: rotate(45deg);
  }
  .active .ham2{
    transform: translateX(100%);
    opacity: 0;
  }
  .active .ham3{
    transform: rotate(-45deg);
  }
}







